p{
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  color: white
}
.date{
  text-decoration: underline;
  line-height: 2.5px
}
.event{
  line-height: 2.5px;
  font-size: 20px
}
body{
  background: black
}
.timeline{
  position: absolute;
  width: 100%
}
.duck{
  position: absolute;
  top: 100%;
  left: -50px;
  transform: rotate(90deg);
  transition: all 1s;
}
